PYTHONUNBUFFERED=1
WATSONX_PROJECT_ID=1234
IBM_CLOUD_API_KEY=abcd
OPENAI_API_KEY=sk-1234

# for testing only:
GITHUB_REPOSITORY=owner/repo_name
GITHUB_TOKEN=gho_abcd
GITHUB_EVENT_NAME=pull_request_review_comment
GITHUB_EVENT_PATH=/path/to/payload.json